/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */





 a {
    color: yellow ;/* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */

  }

   a:hover {
    color:red; /* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
     position: relative;/* set the background color here */
    color: white ;/* set the text color to black here */
    font-family: Arial,sans-serif;/* set the font here */
    text-align: center;  /* set the text alignment here */
    background-image: url("../images/mainbackground.jpg");

    background-size: cover;
    background-position: center;
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;

  }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;

      font-family: Georgia;
   }

   h2 {
    /* set the text color of to #075AAB here */
    /* set both the bottom margin and top margin to 2.5rem here */
    margin-top: 2.5rem;
    margin-bottom:  3rem;

   }

   h3 {
    margin-bottom: 0;
    margin-top: 2rem;

  }
  img {
    max-width: 100%;
    height: auto;


  }
  img:hover{
    transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);

  }
 h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;

  }

 h5 {
    margin-top: 0.5rem;

  }

   hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;

  }
  .card1 {

max-width: 300px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:20px 10px 10px;
    margin: auto;
    text-align: center;
    border-radius: 18px;
    font-family: serif ;

    background-image:  url('../images/back.jpg');
    background-size: cover;
    background-blend-mode: color-dodge;


  }
   .card1:hover{

    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    background-image: url(images/back.jpg);
    background-size: auto;

    background-image:  url('../images/back.jpg');
    background-size: cover;
  }




  .card2 {
      max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

padding:20px 10px 10px;
    text-align: center;
    border-radius: 18px;
    font-family: serif ;

    float: left;
      margin: 15px;
    background-image:url("../images/resback.jpg");
    background-size: cover;
    background-position: center;


  }
   .card2:hover{

    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    background-image:url("../images/resback.jpg");
    background-size: cover;
    background-position: center;

  }

  .card2 .text{
 background-color: rgba(0,0,0,0.3);
 border-radius:10px
    }
  .container{
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.card-text{
  grid-area: text;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 4px;
  border-radius: 6px;
  padding-top: 5px;
  font-family: Georgia;

}
.card-text1{
  grid-area: text;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 4px;
  border-radius: 6px;
  padding-top: 5px;
  font-family: Georgia;

}
